@model OnlineShop.Models.EmailModel

@{
    ViewBag.Title = "Reset Password";
}

@using (Html.BeginForm())
{
    <div class="autorization-form">
        <div class="account-title">Password recovery</div>
        <div class="message-error" id="error-message">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
        </div>
        <div class="input-div">
            @Html.TextBoxFor(m => m.Email, new { @id = "email", @class = "form-control input-lg", @placeholder = "Email address", @tabindex = "1" })
        </div>
        <div class="input-div">
            <div class="btn-left">
                <input type="submit" value="Recover password" class="btn btn-lg btn-success btn-block" tabindex="5" />
            </div>
            <div class="btn-right">
                @Html.ActionLink("Register", "Register", "Account", new { }, new { @class = "btn btn-primary btn-block btn-lg" })
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
