@model OnlineShop.Models.RestoreModel

@{
    ViewBag.Title = "Change Password";
}

@using (Html.BeginForm())
{
    <div class="autorization-form">
        <div class="account-title">Изменение пароля</div>
        @if (TempData["Message"] != null)
        {
            <div class="div alert alert-success">
                @TempData["Message"]
            </div>
        }
        <div class="message-error" id="error-message">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()
        </div>
        <div class="input-div">
            @Html.TextBoxFor(m => m.Email, new { @id = "email", @class = "form-control input-lg", @placeholder = "Email", @tabindex = "1" })
        </div>
        <div class="input-div">
            @Html.TextBoxFor(m => m.Token, new { @id = "email", @class = "form-control input-lg", @placeholder = "Key", @tabindex = "2" })
        </div>
        <div class="input-div">
            <div class="input-div-left">
                @Html.PasswordFor(m => m.NewPassword, new { @id = "password", @class = "form-control input-lg", @placeholder = "Password", @tabindex = "3" })
            </div>
            <div class="input-div-right">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @id = "password_confirmation", @class = "form-control input-lg", @placeholder = "Repeat password", @tabindex = "4" })
            </div>
        </div>
        <div class="input-div">
            <div class="btn-left">
                <input type="submit" value="Change password" class="btn btn-lg btn-success btn-block" tabindex="5" />
            </div>
            <div class="btn-right">
                @Html.ActionLink("Register", "Register", "Account", new { }, new { @class = "btn btn-primary btn-block btn-lg" })
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
