@model OnlineShop.Models.LocalPasswordModel
<div class="change-password">
    <div class="manage-page-title">
        Change password
    </div>
    @if (TempData["Message"] != null)
    {
        <div class="div alert alert-success">
            @TempData["Message"]
        </div>
    }
    @using (Html.BeginForm("Manage", "Account"))
    {
        <div class="message-error" id="error-message">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()
        </div>
        <div class="password">
            <div class="password-length">
                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control input-lg", @placeholder = "Old password", @tabindex = "1" })
            </div>
        </div>
        <div class="password">
            <div class="password-length">
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control input-lg", @placeholder = "New password", @tabindex = "2" })
            </div>
        </div>
        <div class="password">
            <div class="password-length">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control input-lg", @placeholder = "Repeat password", @tabindex = "3" })
            </div>
            <div class="password-length" id="password-check">
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </div>
        </div>
        <div class="password">
            <div class="password-button">
                <input type="submit" value="Change password" class="btn btn-primary btn-block btn-lg" />
            </div>
        </div>
    }
</div>