@model OnlineShop.Models.CartCheckoutViewModel

@{
    ViewBag.Title = "Forming the order";
    int counter = 1;
    int addressId = 1;
}


<div class="row">
    <div class="stepwizard">
        <div class="stepwizard-row">
            <div class="stepwizard-step">
               <a href="@Url.Action("Index", "Cart", new { returnUrl = Request.Url.PathAndQuery })"><button type="button" class="btn-default btn-circle">1</button></a>
                <p> Shopping Cart</p>
            </div>
            <div class="stepwizard-step">
                <button type="button" class="btn-primary btn-circle">2</button>
                <p>Forming the order</p>
            </div>
            <div class="stepwizard-step">
                <button type="button" class="btn-default btn-circle" disabled="disabled">3</button>
                <p>Order</p>
            </div>
        </div>
    </div>
    @*@using (Html.BeginForm("Order", "Cart", FormMethod.Post))
        {*@
    <div class="col-lg-12">
        <div class="order-address-list">
            @foreach (var address in Model.Address)
            {
                Html.RenderPartial("_AddressPartial", address);
            }
            @if (!Model.Address.Any())
            {
                <div class="well">
                    fill in the address of delivery management
                </div>
            }
        </div>
    </div>
    <div class="col-lg-12">
        <div class="order-item-list">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <td>
                            №
                        </td>
                        <td>
                            Name
                        </td>
                        <td>Amount</td>
                        <td>
                            Price
                        </td>
                    </tr>
                </thead>
                @foreach (var line in Model.Cart.Lines)
                {
                    <tr>
                        <td>
                            @(counter++)
                        </td>
                        <td>
                            @line.Product.Name
                        </td>
                        <td>
                            @line.Quantity
                        </td>
                        <td>
                            @line.Product.Price
                        </td>
                    </tr>
                }
            </table>
            @using (Html.BeginForm("ValidateCommand", "PayPal"))
            {
                <div style="display:none;">
                    <table>
                        <tr>
                            <td>
                                product Name:
                            </td>
                            <td>
                                <input type="text" name="product" value="@Model.Cart.ItemsName()" readonly />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Total Price:
                            </td>
                            <td>
                                <input type="text" name="totalPrice" value="@Model.Cart.ComputeTotalValue()" readonly />eur
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Quantity:
                            </td>
                            <td>
                                <input type="text" name="quantity" value="@Model.Cart.Lines.Count()" readonly />eur
                            </td>
                        </tr>
                        @*<tr>
                            <td></td>
                            <td>
                                <input type="submit" name="btnConfirm" value="Check Out with Paypal" />
                            </td>
                        </tr>*@
                    </table>
                </div>
            
            <div class="panel-footer">
                <div class="row text-center">
                    <div class="col-xs-9">
                        <h4 class="text-right">Only: <strong>$@Model.Cart.ComputeTotalValue()</strong></h4>
                    </div>
                    <div class="col-xs-3">
                        <input type="submit" id="btn-continue" class="btn btn-success btn-block" value="Finish" />
                    </div>
                </div>
            </div>
          }
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#btn-continue').click(function () {
                var value = $('input[name="IsPrimary"]:checked').attr('id');
                if (value > 0) {
                    document.location.href = "@(Url.Action("Order", "Cart"))?addressId=" + value;
                }
            });
        });
    </script>
    @*}*@
</div>