@model OnlineShop.Logic.Entity.Product

@{
    ViewBag.Title = Model.Name;
}
<div class="product-details">
    <!--product-details-->
    <div class="col-sm-5">
        <div class="view-product">
            <img src="@Model.Image" alt="">           
        </div>    
    </div>
    <div class="col-sm-7">
        <div class="product-information">
            <!--/product-information-->          
            <h2>@Model.Name</h2>
            @*<p>Web ID: @Model.Id</p>*@          
            <span>
                <span>@Model.Price<i class="fa fa-eur"></i></span>
                @*<label>Quantity:</label>
                <input value="3" type="text">*@
                <a href="@Url.Action("AddToCart", "Cart", new { Model.Id, returnUrl = Request.Url.PathAndQuery })" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
            </span>
            @*<p><b>Availability:</b> In Stock</p>
            <p><b>Condition:</b> New</p>*@
            <p><b>Brand:</b> @Model.Category.Name</p>
            <p><b>Description:</b> @Model.Description</p>
            <a href=""><img src="/Image/images/product-details/share.png" class="share img-responsive" alt=""></a>
        </div><!--/product-information-->
    </div>
</div>